<body>
    <div class="container mt-3">

        <div class="mb-1">

            <label for="kodeBaru" class="form-label">Kode</label>
            <input type="text" id="kodeBaru" class="form-control">
            <p class="msgError" id="kodeAddError"></p>

            <label for="judulBaru" class="form-label">Judul</label>
            <input type="text" id="judulBaru" class="form-control">
            <!-- <input type="email" id="emailbaru" placeholder="Masukkan alamat email"> -->
            <p class="msgError" id="judulError"></p>

            <label for="penulisBaru" class="form-label">Penulis</label>
            <input type="text" id="penulisBaru" class="form-control">
            <!-- <input type="email" id="emailbaru" placeholder="Masukkan alamat email"> -->
            <p class="msgError" id="penulisError"></p>

            <label for="penerbitBaru" class="form-label">Penerbit</label>
            <input type="text" id="penerbitBaru" class="form-control">
            <!-- <input type="email" id="emailbaru" placeholder="Masukkan alamat email"> -->
            <p class="msgError" id="penerbitError"></p>

        </div>
        <div class="d-flex justify-content-between mt-4">
            <button class="btn btn-outline-primary btn-lg" data-dismiss = "modal">Batal</button>
            <button id="addBooks" class="btn btn-primary btn-lg">Simpan</button>

        </div>

    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script type="text/JavaScript" src="/js/crud.js"></script>

    <!-- <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>