<body>
    <div class="container mt-3">

        <fieldset>
            <div class="mb-1">

                <h5><strong>Apakah anda yakin akan menghapus data <span id="deleteName"></span> dengan kode <span id="deleteCode"></span> ?</strong></h5>

            </div>
            <div class="d-flex flex-row justify-content-between mt-4">
                <button type="submit" class="btn btn-outline-primary btn-lg" data-dismiss = "modal">TIDAK</button>
                <button id="hapusBooks" class="btn btn-primary btn-lg ms-3">YA</button>
            </div>
        </fieldset>
    </div>


    <script type="text/JavaScript" src="/js/crud.js"></script></body>

</html>