<body>
    <div class="container mt-3">

        <div class="mb-1">

            <label for="kodeEdit" class="form-label">Kode</label>
            <input type="text" id="kodeEdit" class="form-control">
            <p class="msgError" id="kodeEditError"></p>

            <label for="judulEdit" class="form-label">Judul</label>
            <input type="text" id="judulEdit" class="form-control">
            <!-- <input type="email" id="emailEdit" placeholder="Masukkan alamat email"> -->
            <p class="msgError" id="judulError"></p>

            <label for="penulisEdit" class="form-label">Penulis</label>
            <input type="text" id="penulisEdit" class="form-control">
            <!-- <input type="email" id="emailEdit" placeholder="Masukkan alamat email"> -->
            <p class="msgError" id="penulisError"></p>

            <label for="penerbitEdit" class="form-label">Penerbit</label>
            <input type="text" id="penerbitEdit" class="form-control">
            <!-- <input type="email" id="emailEdit" placeholder="Masukkan alamat email"> -->
            <p class="msgError" id="penerbitError"></p>

            <div class="d-flex flex-row justify-content-between mt-4">
                <button class="btn btn-outline-primary btn-lg" data-dismiss = "modal">Batal</button>
                <button id="ubahBooks" class="btn btn-primary ms-3 btn-lg">Simpan</button>
            </div>

        </div>


        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script type="text/JavaScript" src="/js/crud.js"></script>

</body>

</html>